{% extends 'base.html.twig' %}

{% set title = 'Liste des publications' %}

{% block title %} {{ title }} - {{ parent() }}{% endblock %}
{% block heading %} {{ title }} {% endblock %}

{% block body %}

    <p>Retrouvez ici nos {{ posts|length }} publications.</p>

    <ul>
        {% for post in posts %}
        <li>{{ post.title }} - {{ post.categorizedBy.name }}
            <a href="{{ path('app_post_show', {id: post.id}) }}">Voir</a>
            {% if is_granted('IS_AUTHOR', post) or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_post_edit', {id: post.id}) }}">Modifier</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
