{% extends 'base.html.twig' %}

{% set title = 'Liste des publications' %}

{% block title %} {{ title }} - {{ parent() }}{% endblock %}
{% block heading %} {{ title }} {% endblock %}

{% block body %}

    <p>Retrouvez ici nos {{ posts|length }} publications.</p>

    <ul>
        {% for post in posts %}
        <li>{{ post.title }}</li>
        {% endfor %}
    </ul>

{% endblock %}
